<header>
    <% if (locals.userLogin) { %>
        <img src="/images/users/<%= userLogin.avatar %>" alt="">
    <% }else{ %>
    <img src="/images/logo.jpg" alt="">
    <% } %> 
    <a class="burger" href=""><i class="fas fa-bars"></i></a>
    <nav>
        <ul>
            <li><a class="header-nav-ul-li-a" href="/">home</a></li>
            <li class=""><a href="">quienes</a></li>
            <% if (locals.userLogin) { %>
                <% if (userLogin.rol === 'admin') { %>
                    <li class=""><a href="/products/add">Agregar producto</a></li>
                    <li><a href="/admin">admin</a></li>
                <% }else {%>
                    <li><a href="">servicios</a></li>
                    <li><a href="">porfolio</a></li>
                <% } %>
                <li><a href="/users/profile">Mi perfil</a></li>
                <li><a href="/users/logout">Cerrar sesión</a></li>
            <% }else{ %>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="/users/register">register</a></li>
                <li><a href="/users/login">login</a></li>
            <% } %>
            
        </ul>
    </nav>
</header>